.item-list-table {
    font-size: calc(9px + 1vmin);
    width: calc(100% - 10px);
    /* box-sizing: border-box; */
    height: 90vh;
    margin: 10px 5px;
    padding: 10px 5px;

  }

.item-list-table:hover{
  cursor: pointer;

}


.MuiInput-underline:after {
  border-bottom: 2px solid #ea0909 !important;
}

.react-bootstrap-table tr:hover {
  background-color:rgba(255,255,255,0.25);
  color: white;
} 

.page-link{
  color:whitesmoke;
  background: rgba(34, 34, 34, 0.25);
}
