.App {

 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center; */
  /*justify-content: center; */
  font-size: calc(10px + 2vmin); 
  /* color: white; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app-title {
  margin: 5px;
  padding: 0.4em 0.5em;
  color:whitesmoke;
  border-left: solid 5px #f35f59;
  font-weight:bold;
}

.body {
  /* margin: 0;
  font-size: calc(10px + 1vmin); 
  color:whitesmoke;
  background:#252525;
  height: 100vh; */

}



.col_nav {
  width: 200px;
}

/* .col_nav a {
  color: aliceblue;
}

.col_nav .nav-link {
  padding-top: 1em;
  padding-bottom: 1em;
} 

.col_nav a:hover {
  background: rgba(255,255,255,0.25);
  color: whitesmoke;
} */

.col_main {
  background: rgb(43, 43, 43) !important; 


}  


#menu-nav a svg  {
  margin-right: 10px;
}

.brand{
  font: size 100;;
}